.sidebar {
	background-color: #f0f0f0 !important;
}
.email-form, .export-form, .email-confirmation, .bad-link-logging-confirmation, .report-problem-form {
background: #f0f0f0 !important;
width: 320px;
padding: 10px;
}
img {
	width: 300px !important;
	margin: -26px 0 -20px -60px !important;
}